.inboxNav {
    padding: 10px 10px 0 10px;
    background: white;
}
#folderTree {
    .list-group-item {
        border: none !important;
    }
}
.list-group-item.folder-node.active {
    background-color: #cacfd3 !important;
}
.list-group-item:hover {
    border-radius: 0 !important;
}
.card-wrapper {
    min-width: 170px;
    max-width: 170px;
    min-height: 150px;
    max-height: 150px;
    margin-top: 5px;
    display: inline-block;
    .inbox {
        height: 100%;
        cursor: pointer;
        padding: 0;
        .card-header {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .file {
        cursor: pointer;
    }
    .card-body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 55px;
    }
}
nav {
    a {
        text-decoration: none !important;
    }
}
#folderNavigation {
    padding: 0;
    width: 300px;
    position: fixed;
    height: 100%;
    background: white;
    padding-top: 10px;
    #folderTree {
        border: none !important;;
        border-radius: 0 !important;
    }
}
#mainContent {
    width: 100%;
    height: 100%;
    align-content: flex-start;
    padding-left: 300px;
}
#documentPreviewWrapper {

}
