.inboxNav {
    padding: 10px 10px 0 10px;
    background: white;
}
#folderTree {
    .list-group-item {
        border: none !important;
        border-radius: 0 !important;
    }
}
.list-group-item.folder-node.active {
    text-decoration: underline;
    font-weight: 700;
}
.list-group-item:hover {
    border-radius: 0 !important;
}
.card-wrapper {
    min-width: 170px;
    max-width: 170px;
    min-height: 150px;
    max-height: 150px;
    margin-top: 5px;
    display: inline-block;
    .inbox {
        height: 100%;
        cursor: pointer;
        padding: 0;
        .card-header {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .file {
        cursor: pointer;
    }
    .card-body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: left;
        align-items: baseline;
        font-size: 12px !important;
        text-overflow: ellipsis;
        padding: 2px;
        overflow: hidden;
        text-align: justify;
    }
}
nav {
    a {
        text-decoration: none !important;
    }
}
#folderNavigation {
    padding: 0;
    width: 300px;
    position: fixed;
    height: 100%;
    background: #f8f9fa;
    padding-top: 10px;
    #folderTree {
        border: none !important;
        border-radius: 0 !important;
    }
}
#mainContent {
    width: 100%;
    align-content: flex-start;
    padding-left: 300px;
    overflow: hidden;
    overflow-y: scroll;
    height: 595px;

}
#documentPreviewWrapper {

}
#uploadField {
    min-width: 170px;
    max-width: 170px;
    min-height: 150px;
    max-height: 150px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: dotted 1px;
    border-radius: 5px;
}
.card-header {
    i {
        cursor: grabbing;
    }
}
.listWrapper {
    background: #f8f9fa;
    width: 210px;
    margin: 10px;
    padding-top: 15px;
    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    p {
        width: 100%;
        padding-left: 15px;
        text-align: left;
        font-weight: 700;
        font-size: 1.25rem
    }
    input {
        margin: 5px;
        width: 95%;
    }
}
#allLists {
    display: flex;
}
